<template>
  <div>
    <h1>Forestilling</h1>
    <b-alert v-if="error" show variant="danger">{{ error }}</b-alert>
    <div class="mb-3">
      <b-button size="sg" variant="success" :to="{ path: '/admin/forestillinger/ny'}">
        Ny forestilling
      </b-button>
    </div>
    <div v-for="p in this.$root.performances">
      <b-card :title="p.name" :sub-title="p.desc" class="mb-3">
        <div class="card-text mt-2">
          <div>Roller</div>
          <span v-for="rolle in p.roles">
              <b-button size="sm" variant="secondary" class="mr-2">
                {{ rolle.text }}
              </b-button>
            </span>
        </div>
        <div class="card-text mt-2">
          <div>Grupper</div>
          <span v-for="group in p.groups">
              <b-button size="sm" variant="secondary" class="mr-2 mb-3 text-dark"
                        v-bind:style="{ 'background-color': group.color }">
                {{ group.text }}
              </b-button>
            </span>
        </div>
        <div class="mt-3">
          <router-link :to="{ name: 'edit-performance', params: { id: p['.key'] } }" class="card-link">Endre
          </router-link>
          <b-link v-b-modal="deletePopupId(p['.key'])" class="card-link">Slette</b-link>
          <b-modal :id="deletePopupId(p['.key'])" :title="deleteTitle(p.name)"
                   ok-title="Slett" @ok="remove(p['.key'])"
                   cancel-title="Avbryt">
            <p class="my-4">Alt informasjon, inkludert prøveplaner vil bli fermanent slettet.</p>
          </b-modal>
        </div>
      </b-card>
    </div>
  </div>
</template>
<script>
  import db from '../../services/firebase'

  export default {
    name: 'admin',
    data () {
      return {
        error: null
      }
    },
    computed: {},
    methods: {
      remove (key) {
        db.deletePerformance(key)
          .catch(err => { this.error = `Det skjedde en feil.. Prøv igjen eller kontakt admin. Feil: ${err}` })
      },
      deleteTitle (name) {
        return `Er du sikker på at du vil slette "${name}"?`
      },
      deletePopupId (id) {
        return `delepePopup_${id}`
      }
    }
  }
</script>


