<template>
  <div>
    <b-alert v-if="error" show variant="danger">{{ error }}</b-alert>
    <b-container v-if="ready">

      <h1 v-if="isEditForm">Endre forestilling</h1>
      <div v-else>
        <h1>Registrer ny forestilling</h1>
        <div class="font-italic">Når du registrer ny forestilling blir den automatisk aktiv.</div>
        <div class="font-italic mb-3">Alle prøveplaner du legger etter det blir registrert på denne forestillingen.</div>
      </div>
      <b-row class="my-1">
          <b-col sm="6">
          <b-form @submit.prevent="onSubmit">
            <b-form-group label="Navn til forestillingen" label-for="name">
              <b-form-input id="name" type="text" v-model="form.name" required>
              </b-form-input>
            </b-form-group>

            <b-form-group label="Roller"
            description="Skriv en role og trykk Enter for å legge til">
              <vue-tags-input
                v-model="roleTag"
                :tags="form.roles"
                @tags-changed="newTags => form.roles = newTags"
                placeholder="Legg til rolle"
              />
            </b-form-group>

            <b-form-group label="Grupper"
            description="Skriv en gruppe og trykk Enter for å legge til">
              <vue-tags-input
                v-model="groupTag"
                :tags="form.groups"
                @tags-changed="newTags => form.groups = newTags"
                placeholder="Legg til gruppe"
              />
            </b-form-group>
            <b-form-group label="Velg farge for grupper" label-for="name">
              <div v-for="group in form.groups">
                {{ group.text }}: <b-form-input type="color" v-model="group.color" style="width:30px"></b-form-input>
              </div>
            </b-form-group>

            <b-form-group label="Informasjon" label-for="desc"
              description="Ekstra informasjon/kommentar til forestillingen">
              <b-form-textarea id="desc" :rows="3" v-model="form.desc">
              </b-form-textarea>
            </b-form-group>
            <b-button type="submit" variant="primary" v-if="isEditForm">Lagre endringene</b-button>
            <b-button type="submit" variant="primary" v-else>Opprett forestilling</b-button>
          </b-form>
        </b-col>
      </b-row>
    </b-container>
    <b-container v-else>Henter data..
    </b-container>
  </div>
</template>
<script>
import VueTagsInput from '@johmun/vue-tags-input'
import db from '../../services/firebase'
export default {
  name: 'admin',
  components: {
    VueTagsInput
  },
  data () {
    return {
      ready: false,
      error: null,
      roleTag: '',
      groupTag: '',
      form: {
        name,
        roles: [],
        groups: []
      }
    }
  },
  computed: {
    id: function () {
      return this.$route.params.id
    },
    isEditForm: function () {
      return this.$route.params.id && this.$route.params.id !== 0
    }
  },
  beforeMount: function () {
    if (this.isEditForm) {
      try {
        db.getPerformance(this.id, function (performance) {
          this.form = performance
          this.ready = true
        }.bind(this))
      } catch (err) {
        console.error(err)
        this.error = `Kunne ikke hente data om forestillingen.. Prøv igjen eller kontakt admin. Feil: ${err}`
      }
    } else {
      this.ready = true
    }
  },
  methods: {
    async onSubmit () {
      try {
        if (this.isEditForm) {
          await db.updatePerformance(this.id, this.form)
        } else {
          await db.createPerformance(this.form)
        }
        this.form = {}
        this.$router.push({path: '/admin/forestillinger'})
      } catch (err) {
        console.error(err)
        this.error = `Kunne ikke lagre. Prøv igjen eller kontakt admin. Feil: ${err}`
      }
    }
  }
}
</script>

