<template>
  <div>
    <b-alert v-if="error" show variant="danger">{{ error }}</b-alert>
    <b-alert v-if="success" show variant="success">{{ success }}</b-alert>
    <div v-if="ready">
      <h1>Prøveplan for {{ performance.name }}</h1>
      <div>

        <b-link v-for="(plan, weekNumber) in performance.plans" @click="openWeek(weekNumber)" :key="weekNumber" class="mr-5">
          Uke {{ weekNumber }}
        </b-link>
      </div>
      <p>Last opp en prøveplan</p>
      <b-form-file placeholder="Velg fil" @change="loadTrainingPlan($event)" autofocus/>
    </div>
    <div v-else>Henter data..</div>
    <div>
      <b-form v-if="plan.length > 0" @submit.prevent="storePlan">
        <table class="mt-2">
          <tr>
            <th>Dato</th>
            <th>Fra</th>
            <th>Til</th>
            <th>Type</th>
            <th>Hva</th>
            <th>Hvem</th>
            <th>Gruppe</th>
            <th>Kommentar</th>
          </tr>
          <tr v-for="(row, index) in plan">
            <td><b-form-input v-model="row.date" type="date" /></td>
            <td><b-form-input v-model="row.fromTime" type="time" /></td>
            <td><b-form-input v-model="row.toTime" type="time" /></td>
            <td><b-form-input v-model="row.trainingType" type="text" /></td>
            <td><b-form-input v-model="row.execize" type="text"/></td>
            <td>
              <vue-tags-input
                v-model="temp.roleTag[index]"
                :tags="row.roles"
                @tags-changed="newTags => row.roles = newTags"
                :validation="validateRole"
                :autocompleteItems="performance.roles"
                placeholder=""
              />
            </td>
            <td><vue-tags-input
              v-model="temp.groupTag[index]"
              :tags="row.groups"
              @tags-changed="newTags => row.groups = newTags"
              :validation="validateGroup"
              :autocompleteItems="performance.groups"
              placeholder=""
              />
            </td>
            <td><b-form-input v-model="row.comments" type="text"/></td>
          </tr>
        </table>
        <b-alert show variant="danger" v-if="formError"></b-alert>
        <b-button type="submit" variant="primary" class="mt-3">Lagre prøveplan</b-button>
      </b-form>
    </div>
  </div>
</template>

<script>
import readXlsxFile from 'read-excel-file'
import moment from 'moment-timezone'
import db from '../../services/firebase'
import VueTagsInput from '@johmun/vue-tags-input'
import { groupBy } from '../../commons/utils'
moment.locale('nb')

export default {
  name: 'plan',
  components: {
    VueTagsInput
  },
  data () {
    return {
      ready: false,
      performanceId: null,
      performance: {},
      definedRoles: [],
      definedGroups: [],
      plan: [],
      error: null,
      success: null,
      formError: false,
      temp: {
        roleTag: [],
        groupTag: []
      }
    }
  },
  beforeMount: function () {
    try {
      db.getActivePerformance(function (id, performance) {
        this.performanceId = id
        this.performance = performance
        this.definedRoles = performance.roles.map(r => r.text)
        this.definedGroups = performance.groups.map(g => g.text)
        this.ready = true
      }.bind(this))
    } catch (err) {
      console.error(err)
      this.error = `Kunne ikke hente data om forestillingen.. Prøv igjen eller kontakt admin. Feil: ${err}`
    }
  },
  computed: {
    validateRole: function () {
      return [{
        type: 'match-existing',
        rule: function (text) {
          return this.definedRoles.indexOf(text) < 0
        }.bind(this)
      }]
    },
    validateGroup: function () {
      return [{
        type: 'match-existing',
        rule: function (text) {
          return this.definedGroups.indexOf(text) < 0
        }.bind(this)
      }]
    }
  },
  methods: {
    openWeek: function (week) {
      console.log('load week ', week)
    },

    loadTrainingPlan: async function (event) {
      const data = await readXlsxFile(event.target.files[0])
      const self = this
      let lastDate, lastTrainingType, lastExecize, lastGroup
      let rows = []
      data.forEach(function (row) {
        const dateColumn = row[0]
        const validRow = dateColumn === null || !dateColumn.startsWith('UKE')

        if (validRow) {
          lastDate = (dateColumn !== null && dateColumn.substring(4)) || lastDate
          const trainingDate = moment(lastDate, 'DD. MMM')
          const fromTime = moment.utc(row[1])
          const toTime = moment.utc(row[2])
          lastTrainingType = row[3] || lastTrainingType
          lastExecize = row[4] || lastExecize
          const roles = row[5] || 'ALLE'
          lastGroup = row[6] || lastGroup

          rows.push({
            date: moment(trainingDate).format('YYYY-MM-DD'),
            fromTime: fromTime.add('minutes', fromTime.utcOffset()).add('hours', 12).format('HH:mm'),
            toTime: toTime.add('minutes', toTime.utcOffset()).add('hours', 12).format('HH:mm'),
            trainingType: lastTrainingType,
            execize: lastExecize,
            roles: self.createTags(roles.split(',')),
            groups: self.createTags(lastGroup.split(','))
          })
        }
      })
      this.plan = rows
    },
    createTags: function (rowTags) {
      let result = []
      if (rowTags) {
        rowTags.forEach(function (tag) {
          result.push({'text': tag.trim()})
        })
      }
      return result
    },
    storePlan: async function () {
      try {
        // let roleWithErrors = this.plan.roles.find(r => r.tiClasses.indexOf('invalid') >= 0)
        // this.formError = roleWithErrors != null
        // console.log('errors: ', roleWithErrors, this.formError)

        const self = this
        let plansByWeek = groupBy(this.plan, (p) => moment(p.date).format('ww'))

        db.addWeekPlan(self.performanceId, plansByWeek)
          .then(() => {
            this.success = 'Prøveplanen er lagret'
          })
          .catch((e) => {
            this.error = `Det har skjedd en feil. Prøv igjen eller kontakt admin. Feil: ${e}`
          })

        this.plan = []
      } catch (err) {
        console.error(err)
        this.error = `Kunne ikke lagre. Prøv igjen eller kontakt admin. Feil: ${err}`
      }
    }
  }
}
</script>
<style>
.b-form-file {
  width: 300px;
}
tr:nth-child(even) {
  background-color: #f2f2f2
}
td {
  vertical-align: top
}
input {
  valign: 'top'
}
</style>
