<template>
  <div>
    <b-alert v-if="error" show variant="danger">{{ error }}</b-alert>
    <h1>Min prøveplan</h1>
    <div v-if="ready">
      <h2>{{ performanceName }}</h2>
    </div>
    <div v-for="(plans, day) in byDay">
      <div class="day">{{ day }}</div>
      <b-container v-for="plan in plans" fluid class="day-plans">
          <b-row class="border-bottom border-shadow">
            <b-col cols="2" md="1" size="sm" class="time text-secondary">
              <div>{{ plan.fromTime }}</div>
              <div class="time-to">{{ plan.toTime }}</div>
            </b-col>
            <b-col class="pr-1">
              <b-container class="ma-0 border-secondary">
                <b-row class="border-secondary border-left mb-2">
                  <b-col>
                    {{ plan.trainingType }} - {{ plan.execize }}
                  </b-col>
                  <b-col class="pr-0">
                    <div class="float-md-left float-right">
                      <b-button v-for="group in plan.groups" size="sm" variant="secondary" class="text-dark"
                                :style="{ 'background-color': performanceGroupColor[group.text] }">
                        {{ group.text }}
                      </b-button>
                    </div>
                  </b-col>
                  <b-col sm class="font-italic pt-2 pt-md-0">
                    <span v-for="(role, index) in plan.roles"><span v-if="index > 0">, </span>{{ role.text }}</span>
                  </b-col>
                </b-row>
              </b-container>
            </b-col>

          </b-row>
      </b-container>
    </div>
  </div>
</template>

<script>
  import { groupBy } from '../commons/utils'
  import moment from 'moment'
  import db from '../services/firebase'
  export default {
    name: 'dashboard',
    data () {
      return {
        id: null,
        performanceName: '',
        performanceGroupColor: {},
        error: null,
        ready: false,
        byDay: {}
      }
    },
    beforeMount: function () {
      try {
        db.getActivePerformance(function (id, performance) {
          this.id = id
          this.performanceName = performance.name
          this.performanceGroupColor = performance.groups.reduce((obj, item) => {
            obj[item.text] = item.color
            return obj
          }, {})
          const thisWeek = moment().format('ww')
          const plansThisWeek = performance.plans[thisWeek]
          this.byDay = groupBy(plansThisWeek, (dayPlans) => moment(dayPlans.date).format('dddd. DD. MMM'))
        }.bind(this))
      } catch (err) {
        console.error(err)
        this.error = `Kunne ikke hente data om forestillingen.. Prøv igjen eller kontakt admin. Feil: ${err}`
      }
      this.ready = true
    }
  }
</script>
<style>
  .day {
    background-color: gainsboro;
    padding: 10px 0px 10px 5px;
    margin-top: 10px;
  }
  .time {
    padding-top: 5px;
    font-size: smaller;
    color: #cccccc;
  }
  .time-to {
    color: #cccccc;
  }
  .day-plans {
    margin: 10px 5px 10px 5px;
  }
</style>
