<template>
  <div id="app">
    <b-navbar type="dark" toggleable>
      <b-navbar-toggle target="nav_dropdown_collapse"></b-navbar-toggle>
      <b-collapse is-nav id="nav_dropdown_collapse">
        <b-navbar-nav>
          <b-nav-item :to="{ path: '/'}">Kalender</b-nav-item>
          <b-nav-item :to="{ path: '/myRoles'}">Mine roller</b-nav-item>
          <b-nav-item :to="{ path: '/all'}">Hele prøveplan</b-nav-item>
          <b-nav-item-dropdown text="Admin" right>
            <b-dropdown-item :to="{ path: '/admin/forestillinger'}">Forestilling</b-dropdown-item>
            <b-dropdown-item :to="{ path: '/admin/plan'}">Prøveplaner</b-dropdown-item>
          </b-nav-item-dropdown>
          <b-nav-item @click="logout">Logout</b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <main>
      <!--<img src="./assets/logo.png" alt="Vue.js PWA"> -->
      <router-view></router-view>
    </main>
  </div>
</template>

<script>
import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'

import firebase from 'firebase'
export default {
  name: 'app',
  data () {
    return {
      userId: null
    }
  },
  methods: {
    logout: () => {
      firebase.auth().signOut()
    }
  }
}
</script>

<style>
.navbar {
  background-color: #1ba39c;
}
h1 {
  font-size: 24px;
  padding-bottom: 10px;
}
h2 {
  font-size: 20px;
  padding-bottom: 10px;
}
main {
  margin: 20px;
}
.border-shadow {
  border-color: #CCCCCC;
}
</style>
