<template lang="html">
  <div>
    <div id="firebaseui-auth-container"></div>
    LOGIN here!!
  </div>
</template>
<script>
  import firebase from 'firebase'
  // import firebaseui from 'firebaseui'
  // import {config} from '../helpers/firebaseConfig'

  export default {
    name: 'auth',
    methods: {
      signIn: () => {
      },
      signInAnonymously: () => {
        firebase.auth().signInAnonymouslyAndRetrieveData().then((result) => {
          this.setState({user: result.user}, () => {
            console.log('')
          })
        })
      }
    }
  }
</script>
